<html>
<h1>MIJU</h1>
<%- include('navbar', {links: links}) %>
<a href="/add/item"><button>Add Item</button></a>
<a href="/add/category"><button>Add Category</button></a>
<a href="/add/supplier"><button>Add Supplier</button></a>
<%- include('itemTable', {items: items}) %>
</html>