<h1>New Supplier</h1>

<form method="post">
    <label for="supplier">Supplier:</label>
    <input name="supplier" type="text" required>
    <label for="prefecture">Prefecture:</label>
    <input name="prefecture" type="text" required>
    <button type="submit">Add Item</button>
</form>